################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TokenbasedAuthentication/v16/.suo
/.vs/TokenbasedAuthentication/v16/.suo
